<h1 class="text-center"><%= @cocktail.name %></h1>
<p class="text-center"><%= @cocktail.ingredient %></p>
<p class="text-center"><%= @cocktail.dose %></p>

<p class="text-center"><%= link_to "Retour à la page principale", cocktails_path %><p>

<div class="text-center">

</div>
